//Variables

@use "./normalize";
$black: #333333;

//Main styles
body {
    margin: 0 auto;
    background-image: url("/src/images/world-140304.jpg");
}

.container,
.country,
.results {
    display: flex;
    flex-direction: column;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 50px;
    @media only screen and(min-width: 800px) {
        margin-top: 10px;
    }
}

//Buttons
.success-btn {
    border-radius: 7px;
    padding: 7px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-weight: 600;

    background-color: #0ace55;
    color: whitesmoke;
    &:hover,
    &:focus {
        background-color: #398a58;
    }
    @media only screen and(min-width: 800px) {
        padding: 15px;
        font-size: 1.1rem;
    }

    @media only screen and(min-width: 1400px) {
        padding: 13px;
        font-size: 1.2rem;
    }
}

#result-btn {
    width: 30vw;
    margin-top: 10px;

    @media only screen and(min-width: 600px) {
        width: 15vw;
    }
    @media only screen and(min-width: 1400px) {
        width: 8vw;
    }
}

.country {
    text-align: center;
    border: 1px solid whitesmoke;
    padding: 10px;
    width: 96vw;

    @media only screen and(min-width: 600px) {
        height: 50vh;
    }

    @media only screen and(min-width: 800px) {
        margin-bottom: 50px;
    }

    h1 {
        font-size: 1.2rem;
    }

    &-pic {
        width: 30vw;
        height: 20vh;
        padding: 5px;

        @media only screen and(min-width: 800px) {
            width: 20vw;
        }
    }

    #skip-btn {
        margin-top: 20px;
        padding: 8px 16px;

        @media only screen and(min-width: 600px) {
            margin-top: 40px;
        }
    }
}

//Players

.player {
    margin-top: 40px;

    @media only screen and(min-width: 800px) {
        margin-top: 0px;
    }

    @media only screen and(min-width: 1400px) {
        margin-top: 90px;
    }

    input {
        padding: 5px;
        width: 20vw;
        margin-bottom: 10px;

        @media only screen and(min-width: 1400px) {
            padding: 7px;
        }
    }
}

select {
    background-color: #3498db;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #2980b9;
    }

    @media only screen and(min-width: 1400px) {
        font-size: 1.1rem;
    }
}

//Results

.results {
    @media only screen and(min-width: 1400px) {
        margin-top: 10px;
        margin-bottom: 56px;
        font-size: 1.2rem;
    }

    &-player-win {
        color: green;
        font-weight: bolder;
        padding: 10px;
    }

    &-span {
        margin-top: 20px;
        @media only screen and(min-width: 800px) {
            margin-top: 0;
        }
    }
}
